$c-white: #ffffff;
$c-primary: #dfe4e7;
$c-primary-white: #fdfdfd;
$c-secondary: #ffd700;
$c-link: #438bf8;
$c-accept: #5fc169;
$c-danger: #e04f58;

$c-gray-50: #FBFBFB;
$c-gray-100: #D9D9D9;
$c-gray-200: #a8b5be;
$c-gray-400: #7c8f9e;
$c-gray-600: #576976;
$c-gray-900: #37424a;

$c-overlay: rgba(19, 30, 72, 0.6);
