body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
